<nav
  id="userNavbar"
  class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary"
>
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a
      style="text-decoration: none"
      routerLink="/cart"
      class="d-block d-md-none p-2 bg-primary text-light"
      ><i class="fas fa-cart-plus pr-2"></i
    ></a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a routerLink="" class="navbar-brand">Mai Health</a>
      <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a id="predictors" *ngIf="navBtnsVisible" class="nav-link"
            ><i class="fas fa-brain pr-1"></i>Predictors</a
          >
        </li>
        <li class="nav-item">
          <a id="stats" *ngIf="navBtnsVisible" class="nav-link"
            ><i class="fas fa-chart-line pr-1"></i>My Stats</a
          >
        </li>
        <li class="nav-item">
          <a id="profile" *ngIf="navBtnsVisible" class="nav-link"
            ><i class="fas fa-user pr-1"></i>Profile</a
          >
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button
          (click) = "logout()"
          *ngIf="navBtnsVisible"
          id="logoutButton"
          class="btn btn-outline-light my-2 my-sm-0"
          type="submit"
        >
          <i class="fas fa-sign-out-alt pr-1"></i>Logout
        </button>
      </form>
    </div>
  </div>
</nav>
