<div class="mx-4 my-3">
  <div class="text-danger d-flex">
    <span class="mr-1 badge badge-primary align-self-end">{{
      item.count
    }}</span>
    <img
      (click)="incrementItem(item.name)"
      class="filter my-1 mt-2"
      src="../../../assets/icons and fonts/{{ item.name }}.svg"
      height="40px"
    />
    <span (click)="cancelItem(item.name)" *ngIf="canEdit" class="ml-1 badge badge-primary align-self-start"
      ><i class="fas fa-times"></i
    ></span>
  </div>
  <p class="text-center mt-2">{{ item.name }}</p>
</div>
