<a href="#" class="my-2 list-group-item flex-column">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{day.month_name}}</h5>
    <p>{{day.record_id}}</p>
  </div>
  <hr />
  <b class="mb-1 text-primary"> Water </b>
  <div
    id="water-add"
    class="mx-auto col-5 px-3 by-2 py-1 bg-primary text-light d-flex align-items-center justify-content-around"
  >
    <i class="far fa-minus-square"></i>
    {{day.water_count}} Cups
    <i class="far fa-plus-square"></i>
  </div>
  <hr *ngIf="day.weight" />
  <b *ngIf="day.weight" class="mb-1 text-dark"><span class="text-info"> Weight </span>: {{day.weight}} Kg</b>
  <hr />
  <div *ngIf="day.breakfast && (day.breakfast.foods || day.breakfast.drinks || day.breakfast.symptoms)"> 
    <app-meal [meal]="day.breakfast" [title]="'BreakFast'"></app-meal>
  </div>
  <div *ngIf="day.lunch && (day.lunch.foods || day.lunch.drinks || day.lunch.symptoms)"> 
    <app-meal [meal]="day.lunch" [title]="'Lunch'"></app-meal>
  </div>
  <div *ngIf="day.snack && (day.snack.foods || day.snack.drinks || day.snack.symptoms)"> 
    <app-meal [meal]="day.snack" [title]="'Snack'"></app-meal>
  </div>
  <div *ngIf="day.dinner && (day.dinner.foods || day.dinner.drinks || day.dinner.symptoms)"> 
    <app-meal [meal]="day.dinner" [title]="'Dinner'"></app-meal>
  </div>
</a>
