<app-navbar></app-navbar>
<div class="container mt-5 pt-3">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <div class="d-flex m-sm-4 justify-content-between">
        <input *ngIf="editDate" type="date" name="date" id="chooseDate">        
        <h5 *ngIf="!editDate" class="mt-2"><span class="d-none d-sm-inline-flex">Records for</span> {{date_title}}</h5>
        <input (change)="selectdate()" [(ngModel)]="date" type="date" class="form-control col-6 col-sm-4" name="date">
      </div>
      <div class="list-group mx-3 outer-box pt-4">
        <app-meal-tracker-item *ngFor="let item of records" [day]="item"></app-meal-tracker-item>
        <div *ngIf="records.length == 0">
          <img src="../../assets/breakfast.svg" class="d-block mx-auto" width="50%" alt="" srcset="">
          <h5 class="mt-5 text-center">No Records for this month</h5>
        </div></div>
    </div>
    <!-- <div class="d-none d-sm-block col-md-6">
      <img src="../../assets/chart.svg" class="d-block mx-auto mt-5" width="400px" alt="">
    </div> -->
  </div>
</div>

<div class="float-btn">
  <button (click)="today()" class="btn btn-primary px-4">Add</button>
</div>