<app-navbar></app-navbar>
<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-6">
      <div class="d-flex m-4 justify-content-between">
        <div class="d-inline-flex mx-auto">
          <i style="font-size: 20px; margin-top: 12px;" class="fas fa-angle-left text-muted mr-3"></i>
          <div>
        <input *ngIf="editDate" type="date" name="date" id="chooseDate">        
        <h5 *ngIf="!editDate" class="mt-2">21, April, 2021</h5>
        </div>
        <i style="font-size: 20px; margin-top: 12px;" class="fas fa-angle-right text-muted pl-3"></i>
        </div>
        <!-- <a class="text-primary mr-4">Choose Date</a> -->
      </div>
      <div class="list-group mx-3 outer-box">
        <app-meal-tracker-item *ngFor="let item of records" [day]="item"></app-meal-tracker-item>
      </div>
    </div>
    <div class="col-6">
      <img src="../../assets/chart.svg" class="d-block mx-auto mt-5" width="400px" alt="">
    </div>
  </div>
</div>

<div class="float-btn">
  <button class="btn btn-primary px-4">Add</button>
</div>